:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --header-text-color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02em;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
/* width: 160px; */
/* height: 40px; */
padding: 12px 20px;
border: 1px solid var(--accent-color);
border-radius: 25px;
background-color: transparent;

    font-family:inherit
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;                                
}

.section-title {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    }

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--secondary-title-color);  
    }


.social-link:hover,
.social-link:focus {
    color: var(--accent-color);
}

/* --------------HEADER-------------- */

.header {
    background-color: grey;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;

}

.header-list {
    display: flex;
    /* align-items: center; */
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-tel-link {
    margin-right: 40px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    }

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
    }

.header-tel-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    }
.header-btn {
    color: #ffffff;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    }

.after-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    }

/* --------------HERO-------------- */

.hero-container {
    display: flex;
    
}

.hero-list {
    width: 98px;
}

.hero-right {
    background-color: rgb(54, 54, 54);
    flex-grow: 1;
    padding-top: 272px; 
    padding-left: 91px;
    padding-bottom: 206px;

}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
    }

.hero-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
    margin-bottom: 20px;
    }

.hero-after-title {
    max-width: 400px;
    color: var(--third-text-color);
}

/* --------------ABOUT-------------- */

.about-container {
    display: flex;
    align-items: center;
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-list {
    display: flex;
    align-items: center;
}

.about-right {
    margin-left: 34px;
    padding-left: 34px;
    padding-right: 37px;
}

.about-item {
 margin-right: 30px;
}

.about-pre-title {
    margin-bottom: 20px;
    color: var(--secondary-title-color);
}

.about-title {
    margin-bottom: 20px;
    color: var(--secondary-title-color);
}

.about-after-title {
     margin-bottom: 20px;
    color: var(--primary-text-color);
}

.about-text {
     margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.86;
    color: var(--primary-text-color);
    }

.about-btn {
    color: #303030;
}

/* --------------PRICES-------------- */
.prices {
    background-color: rgb(39, 38, 38);
}

.prices-pre-title {
    color: var(--primary-text-color);
}

.prices-title {
    color: var(--primary-title-color);
    }

.prices-type,
.prices-count {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
    }

.prices-btn {
    color: ffffff;
}

/* --------------REASONS-------------- */
.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--secondary-text-color);
    }

.reasons-pre-title {
    columns: var(--secondary-text-color);
}

.reasons-title {
    color: var(--secondary-title-color);
}

.reasons-after-title {
    color: var(--primary-text-color);
}

/* --------------MASTERS-------------- */
.masters-pre-title {
    color: var(--secondary-title-color);
}

.masters-title {
    color: var(--secondary-title-color);
}

.masters-item-title {
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: var(--secondary-title-color);
    }

.master-item-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: var(--accent-color);
    }

/* --------------GALLERY-------------- */
.gallery-pre-title {
    color: var(--secondary-text-color);
}

/* --------------ONLINE-------------- */
.online-title {
    color: var(--primary-title-color);
}

/* --------------CONTACNS-------------- */
.contacts {
background-color: rgb(37, 33, 33);
}

.contacts-title {
    color: var(--primary-title-color);
}

.contacts-address {
    font-style: inherit;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

.contacts-time-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    }

.contacts-time-text {
    font-size: 18px;
    line-height: 1.67;
    color: var(--third-text-color);
}

/* --------------FOOTER-------------- */
.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--third-text-color);
}